:root { 
    --background: #0A0D09;
    --background2: #212520;
    --button-color: #16261f;
    --topbar: var(--background2);
    --primary-green: #78ac62; 
    --secondary-green: #71b48d; 
    --accent: #81bda2;
    --text: #e5ece1;
    --text-darker: #838583;
} 