@import url("colors.css");

.items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-box {
    margin: 10px;
    background-color: var(--button-color);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    /*color: var(--text-darker);*/
    background: linear-gradient(145deg, #14221c, #182921);
    box-shadow:  10px 10px 20px #121511,
             -10px -10px 20px #1a1f19;
}
figure {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    height: calc(0.8*200px);
}

#counter {
    width: 30px;
    text-align: center;
}
.count {
    display: flex;
    justify-content: center;
    gap: 20px;
}