@import url("colors.css");

.items {
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

#goal-label {
    margin-left: 0px;
}


.item-box {
    margin: 20px;
    transition: 300ms ease-out;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    /*color: var(--text-darker);*/
    background-image: url("../static/icons/wood-texture.png"), linear-gradient(145deg,  #463420, #3b2a16);
    background-size: 200px 200px;
    box-shadow:  10px 10px 20px #121511,
             -10px -10px 20px #1a1f19;
}

/* .item-box:hover {
    box-shadow:  19px 19px 25px #181b18,
             -19px -19px 25px #1a1f19;
    width: 205px;
    height: 205px;
} */
.item-box:hover {
    transform: translateY(-10px);
    box-shadow:  10px 20px 20px #121511,
             -10px -10px 20px #1a1f19;
}
.item-box:hover .item-img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(104%) contrast(102%);
}

figure {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(0.6*200px);

}

figure > div {
    height: 60%;
    padding: 5%;
    margin: auto;
    border-radius: 20px;
    background: radial-gradient(#141813, var(--background2));
    border: #121511 4px solid; 
}

/* color of image */
.item-img {
    transition: 300ms ease-out;
    height: 100%;
    filter: invert(57%) sepia(6%) saturate(86%) hue-rotate(71deg) brightness(91%) contrast(92%);
}



.counter {
    transition: 50ms ease-out;
    font-size: 20px;
    width: 70px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    border-radius: 20px;
    background: var(--background2);
    border: #121511 4px solid;
}
.count {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.item-view {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0%;
    padding: 0px;
    background-image: url(../static/icons/trees.png);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position:  bottom left;
    background-size: 1280px 480px ;
}
.item-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: var(--background);
    width: 20%;
    min-width: 200px;
    overflow-y: auto !important;
    height: 100%;
    box-shadow: -10px 0px 30px #121511;
    z-index: 0;
}
.rounded-box {
    box-sizing: border-box;
    margin: 10px;
    background-color: var(--background2);
    border-radius: 10px;
}

.box-title {
    margin: 0px 10px 0px 10px;
    height: calc(10% - 10px);
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    text-align: center;
}
.box-title > div {
    display: flex;
    font-size: 40px;
}

.box-image {
    text-align: center;
    /* height: calc(30% - 10px); */
    padding: 20px;
    background: radial-gradient(#141813, var(--background2));
}

.tray-image {
    width:50% !important;
    height: auto;
}

.box-image img {
    height: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(104%) contrast(102%);
}

.box-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
    height: fit-content;
}
.box-description p {
    /* font-size: 18px; */
    font-size: 18px;
}

.box-related-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: fit-content;
    text-align: center;
    /* height: calc(40% - 10px); */
}

.box-related-items ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 0;
    margin-top: 10px;
}

.item-heading {
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    width:fit-content;
    margin: 10px 10px;
    padding: 5px 20px;
    border-radius: 40px;
    border: #121511 solid 5px;
    background-color:#141813 ;
}

.item-title {
    text-align: center;
    position: relative;
}

.more-info {
    transition: ease-in-out 0.1s;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, -40%);
    width: 24px;
    height: 24px;
    background-color: #121511;
    border-radius: 100%;
    border: 3px solid #121511;
}

h2 {
    font-weight: 100;
    text-align: center;
    color: var(--text);
    font-size: 15px;  
    margin: 10px 0px 0px 0px;
    display: inline-block;
    border-radius: 20px;
    width: 105px;
    background: var(--background2);
    border: #121511 4px solid;
}
h1 {
    background: var(--background);
    border-radius: 10px;
    padding: 15px;
    margin: 0 10px;
    font-size: 30px;
    display: inline-block;
}

.daily-goal-container {
    display: flex;
    padding: 10px 10px;
    align-items: center;
}

#total-goal-meter {
    background-color: #3b2a16;
    border-radius: 50px;
    border: #121511 5px solid;
    margin: 0px;
    padding: 5px;
    height: 30px;
    width: 100%;
    display: inline;
    float: left;
    overflow: hidden;
    vertical-align: middle;
}

.progress {
    text-align: center;
    --goal-count: 0%;
    --old-width: 0%;
    border-radius: 50px;
    background-color: rgb(17, 104, 17);
    height: 100%;
    width: 0%;

}

.progress_anim {
    animation: 750ms ease-in-out 1 progressFill forwards;
}

@keyframes progressFill {
    0% {
        width: var(--old-width);
    }
    100% {
        width: var(--goal-count);
    }
}
#goal-submit {
    margin: 0px 0px 0px 20px;
    height: 18px;
    text-align: center;
    width: 125px;
    display: inline;
    border-radius: 50px;
    vertical-align: middle;
    border: 4px solid green;
    background-color: white;
}

.plus, .minus{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #121511;
}

.more-info:hover, .plus:hover, .minus:hover {
    box-shadow: 0px 0px 10px white;
}

.more-info:active, .plus:active, .minus:active {
    background-color: #313a2f;
}
.plus:active {
    transform: rotate(15deg);
}
.minus:active {
    transform: rotate(-15deg);
}

.counter:has(+ .plus:active), .minus:active~ .counter{
    background-color: #313a2f;
    font-size: 22px;
}


.reverse {
    animation: 250ms ease-in-out 1 testing;
}

@keyframes testing {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
        background-color: rgb(173, 38, 5);
    }
    100% {
        transform: rotate(0deg);
    }
}

.item-box {
  animation: 1000ms ease-in-out 1 loadBoxes;
}


