@import url("colors.css");

p {
  color: var(--text)
}

html, body {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0%;
    background-color: var(--background2);
    height: 100%;
    overflow: hidden;
}

.sidenav {
 
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background);
  overflow-x: hidden;
  padding-top: 20px;
  margin:0%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--text-darker);
  display: block;
}

.sidenav a:hover {
  color: var(--text);
}

.main {
  margin: 0px;
  color: var(--text);
  background-color: var(--background2);
  padding: 5px;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  display: flex;
  padding: 0px;
  flex-direction: column;
  height:100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.topbar {
    background-color: var(--topbar);
    height: 125px;
    border-bottom: 10px solid var(--background);
    margin: 0px;
    padding: 10px;
}

.items {
    padding: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: var(--background2);
    flex: 1;
}

