@import url("colors.css");

p {
  color: var(--text)
}

html, body {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0%;
    background-color: var(--background2);
    height: 100%;
    overflow: hidden;
}

.sidenav {
  box-sizing: border-box;
  height: 100%;
  width: 175px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background);
  overflow-x: hidden;
  margin:0%;
}

.sidenav a {
  transition: 100ms ease-out;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: var(--text-darker);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.logo { 
  width: 35px;
  height: 35px;
  display: inline;
}
#user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#user svg{
  width: 100px;
  height: 100px;
}
#user h3 {
  margin: 0px;
}

h3 {
  font-size: 20px;
  margin: 0px 0px 0px 25px;
  padding: 0px;
  display: inline;
}

.sidenav a:hover {
  background-color: var(--background2);
  color: var(--text);
}

.main {
  margin: 0px;
  color: var(--text);
  background-color: var(--background2);
  padding: 5px;
  margin-left: 175px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  display: flex;
  padding: 0px;
  flex-direction: column;
  height:100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.topbar {
    background: linear-gradient(180deg, #313a2f, var(--background2));
    /* background-color: var(--topbar); */
    height: 150px;
    border-bottom: 10px solid var(--background);
    margin: 0px;
    padding: 10px;
    z-index: 1;
}

.items {
    padding: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    flex: 1;
}


#background-gradient {
    background: radial-gradient(#3b4439, var(--background2));
    height: 100%;
    background-attachment: fixed;
}