<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/globalCounter.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycling Tracker</title>
</head>
<body>
    <div class="sidenav">
        <a href="/user">User</a>
        <a href="/">Home</a>
        <a href="/goals">Goals</a>
        <a href="/history">History</a>
    </div>

    <div class="main">
        <div class="topbar">
            <meter id="global-meter" value="100" min="0" max="140" title="insert title here"></meter>
            <ul class="total">
                <li class="item-totals">Soft Plastic</li>
                <li class="item-totals">Hard Plastic</li>
                <li class="item-totals">Glass</li>
                <li class="item-totals">Paper</li>
                <li class="item-totals">Cardboard</li>
                <li class="item-totals">Metal</li>
                <li class="item-totals">Textiles</li>
                <li class="item-totals">Styrofoam</li>
        </div>

        <div class="achievement-list"> 
            <div class="meter-case" id="soft-plastic">
                <div class="meter-info">
                    <label id="item-name">Soft Plastic</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
            <div class="meter-case" id="hard-plastic">
                <div class="meter-info">
                    <label id="item-name">Hard Plastic</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
            <div class="meter-case" id="glass">
                <div class="meter-info">
                    <label id="item-name">Glass</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
            <div class="meter-case" id="paper">
                <div class="meter-info">
                    <label id="item-name">Paper</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
            <div class="meter-case" id="cardboard">
                <div class="meter-info">
                    <label id="item-name">Cardboard</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
            <div class="meter-case" id="metal">
                <div class="meter-info">
                    <label id="item-name">Metal</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
            <div class="meter-case" id="textiles">
                <div class="meter-info">
                    <label id="item-name">Textiles</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
            <div class="meter-case" id="styrofoam">
                <div class="meter-info">
                    <label id="item-name">Styrofoam</label>
                    <label id="item-total">100/1000</label>
                    <button class="goal-set">Set Goal</button>
                </div>
                <meter value="13" max="20"></meter>
            </div>
        </div>
    </div>
   
</body>
</html> 