<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycling Tracker</title>
</head>
<body>
    <div class="sidenav">
        <a href="/user">User</a>
        <a href="/">Home</a>
        <a href="/goals">Goals</a>
        <a href="/history">History</a>
    </div>

    <div class="main">
        <div class="topbar">
            stats
        </div>

        <div class="items"> a</div>
        
    </div>
</body>
</html> 