<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/items.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycling Tracker</title>
</head>
<body>
    <div class="sidenav">
        <a href="/user">User</a>
        <a href="/">Home</a>
        <a href="/goals">Goals</a>
        <a href="/history">History</a>
    </div>

    <div class="main">
        <div class="topbar">
            <h1>Today's Goal</h1>
            <meter value="10" min="0" max="123">asd</meter>
        </div>
        <div class="item-view">
            <div class="items"> 
                <div id="1" class="item-box">
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <button id="minus">-</button>
                        <label id="counter">12</label>
                        <button id="plus">+</button>
                    </div>
                </div>
                <div id="2" class="item-box">
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <button id="minus">-</button>
                        <label id="counter">12</label>
                        <button id="plus">+</button>
                    </div>
                </div>
                <div id="3" class="item-box">
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <button id="minus">-</button>
                        <label id="counter">12</label>
                        <button id="plus">+</button>
                    </div>
                </div>
                <div id="4" class="item-box">
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <button id="minus">-</button>
                        <label id="counter">12</label>
                        <button id="plus">+</button>
                    </div>
                </div>
            </div>
            <div class="item-info">
                <div class="box-title">ITEM NAME</div>
                <div class="box-image">COOL IMAGE</div>
                <div class="description">Description</div>
                <div class="item-list"></div>
            </div>
        </div>
    </div>
   
</body>
</html> 