<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/items.css"/>
    <link rel="stylesheet" href="/static/item-view-tray.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function fn() {
            const a = document.getElementsByClassName("item-info");
            if($(a).hasClass('dismiss')) {
                $(a).removeClass('dismiss').addClass('selected').show();
            }
            else if($(a).hasClass('selected')) {
                $(a).removeClass('selected').addClass("dismiss");
            }
        }
    </script>
    <script>
        function setGoal() {
            //pop up
            

        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycling Tracker</title>
</head>
<body>
    <div class="sidenav">
        <a href="/user">User</a>
        <a href="/">Home</a>
        <a href="/goals">Goals</a>
        <a href="/history">History</a>
    </div>

    <div class="main">
        <div class="topbar">
            <h1>Today's Goal</h1>
            <div class="daily-goal-container">
                <progress value="10" max="123"></progress>
                <button id="goal-submit" onclick="setGoal()">Set Goal</button>
            </div>
        </div>
        <div class="item-view">
            <div class="items"> 
                <div id="1" class="item-box">
                    <div class="item-title">
                        <h2>Item</h2>
                        <input type="image" src="static/icons/more-info.png" onclick="fn()" id="more-info" />
                    </div>
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <img id="minus" src="/static/icons/minus-icon.png">
                        <label id="counter">12</label>
                        <input type="image" src="/static/icons/plus-icon.png" onclick="fn()" id="plus" />
                    </div>
                </div>
                <div id="2" class="item-box">
                    <div class="item-title">
                        <h2>Item</h2>
                        <input type="image" src="/static/icons/more-info.png" onclick="fn()" id="more-info" />
                    </div>
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <img id="minus" src="static/icons/minus-icon.png">
                        <label id="counter">12</label>
                        <input type="image" src="static/icons/plus-icon.png" onclick="fn()" id="plus" />
                    </div>
                </div>
                <div id="3" class="item-box">
                    <div class="item-title">
                        <h2>Item</h2>
                        <input type="image" src="static/icons/more-info.png" onclick="fn()" id="more-info" />
                    </div>
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <img id="minus" src="static/icons/minus-icon.png">
                        <label id="counter">12</label>
                        <input type="image" src="static/icons/plus-icon.png" onclick="fn()" id="plus" />
                    </div>
                </div>
                <div id="4" class="item-box">
                    <div class="item-title">
                        <h2>Item</h2>
                        <input type="image" src="static/icons/more-info.png" onclick="fn()" id="more-info" />
                    </div>
                    <figure>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-trash-can-3244301-2727406.png?f=webp" alt="">
                    </figure>
                    <div class="count">
                        <img id="minus" src="static/icons/minus-icon.png">
                        <label id="counter">12</label>
                        <input type="image" src="static/icons/plus-icon.png" onclick="fn()" id="plus" />
                    </div>
                </div>
            </div>
            <div id="item-tray" class="item-info dismiss">
                <div class="box-title rounded-box">ITEM NAME</div>
                <div class="box-image rounded-box">COOL IMAGE</div>
                <div class="box-description rounded-box">Description</div>
                <div class="box-related-items rounded-box">RELATED ITEMS</div>
            </div>
        </div>
    </div>
   
</body>
</html> 